$black: #000000;
$black-30: rgba(58, 53, 65, 0.3);
$white: #FFFFFF;

$primary: #6E39CB;
$text-light: #89868D;
$text-disabled: #B4B2B7;

$background: #F4F5F9;
$background-secondary: #E7E7F4;
$border: #DBDCDE;
$error: #f34141;

$border-radius: 12px;
