$black: #000000;
$black-30: rgba(58, 53, 65, 0.3);
$white: #ffffff;

$primary: #6e39cb;
$text-light: #89868d;
$text-disabled: #b4b2b7;

$background: #f4f5f9;
$background-secondary: #e7e7f4;
$border: #dbdcde;
$error: #f34141;

$border-radius: 12px;
